<nav class="dif-sidebar" [class.expanded]="expanded">

  <div class="menu mini">
 
      <img src="../../../assets/img/channel-picture/unnamed.jpg">

    <div class="long" *ngFor="let item of iconItem">
      <button class="btn-long">
        <i [class]="item.icon"></i>
      </button>
    </div>
  </div>

  <div class="menu full">
    <div class="my-channel">
      <div class="my-img">
        <img src="../../../assets/img/channel-picture/unnamed.jpg">
      </div>
      <div class="my-label"><p>Kênh của bạn</p></div>
      <div class="my-name"><p>tuan vu</p></div>
    </div>

    <div class="scroll">
        <div class="option" *ngFor="let item of iconItem">
          <button>
            <i [class]="item.icon"></i>
            <span>{{ item.label }}</span>
          </button>
        </div>
    </div>
  </div>

</nav>



