.container {
    display: grid;
    grid-template-columns: 3fr 1fr ;
    height: 100vh;
}

// .grid {
//     display: grid;
//     grid-template-columns: 1fr 0.5fr;
// }

.left {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .video {
        img {
            height: 100%;
            width: 100%;
            border-radius: 20px;
        }
    }

    .video-name {
        font-size: 22px;
        font-weight: 500;
        color: #000000;
    }

    .channel-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        
        .channel-name {
            display: flex;
            gap: 20px;
            align-items: center;
            white-space: nowrap;
            flex-shrink: 0;
            img {
                width: 50px;
                height: 50px;
                border-radius: 100%;
            }
            
            .name {
                display: flex;
                flex-direction: column;
                gap: 5px;

                #n1 {
                    font-size: 18px;
                    font-weight: 500;
                    color: #000000;
                }

                #n2 {
                    font-size: 14px;
                    font-weight: 400;
                    color: #ff0000;
                }
            }

            button {
                padding: 10px 20px;
                background-color: black;
                color: white;
                border: none;
                border-radius: 20px;
                font-size: 16px;
                cursor: pointer;
            }

            button:hover {
                opacity: 0.7;
                transition: 0.2s;
            }

            
        }
    }

    @media (max-width:1200px) {
        .channel-container {
            grid-template-columns: 1fr;
        }
        
    }

    .just-btn {
        display: flex;
        align-items: center;
        gap: 10px;
        width: 100%;
        flex-shrink: 0;
        button {
            padding: 10px 10px;
            display: flex;
            white-space: nowrap;
            border: none;
            border-radius: 20px;
            font-size: 16px;
            cursor: pointer;

            p {
                margin: 0;
                margin-left: 5px;
            }
        }

        button:hover {
            opacity: 0.5;
            transition: 0.2s
        }
        }


        .count {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            align-items: center;

            .count-binhLuan {
                font-size: 22px;
                font-weight: 600;
                padding-right: 30px;
            }

            .count-sapXep {
                font-size: 18px;
                font-weight: 500;
            }
        }

        .person-comment {
            display: grid;
            grid-template-columns: 60px 1fr;
            
            .img {
               img {
                width: 40px;
                height: 40px;
                border-radius: 100%;
                object-fit: cover;
               } 
            }

            .thumb {
                button {
                    padding: 10px;
                    border: none;
                    border-radius: 20px;
                    margin:2px 5px 0 0;
                }
            }

            .name {
                font-weight: 700;
            }

            .comment {
                padding: 5px 0;
            }
        }
    }


.right {
    padding: 20px;
    .select-thumnail {
        img {
            width: 25vw;
            height: auto;
            border-radius: 20px;
            padding: 5px;
        }
        padding: 20px 0;
    }

    .seclect-img {
        img {
            width: 40px;
            height: 40px;
            border-radius: 100%;
            object-fit: cover;
        }

    }

    .seclect-contai {
        display: flex;
        .select-name {
            display: flex;
            flex-direction: column;
            padding: 0 0 10px 10px;
            justify-content: flex-end;
        }
    }

    
   
}

@media (max-width: 1000px) {
    .container {
        display: grid;
        grid-template-columns: 1fr ;
    }
    
   .right {
       


        .vid {
            display: grid;
            grid-template-columns: 1fr 1fr; 
            gap: 20px; 

            .select-thumnail {
                #thumnail {
                    width: 100%;
                    border-radius: 20px;
                    
                }
               
            }

        }
   }
}