

.just-content {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(350px, 1fr));
  grid-gap: 20px;
}

.thumnail {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.channel-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.dep {
  border-radius: 10px;
  border: none;
}

.dep:hover {
  background-color: red;
  transition: 0.2s;
}

.chia {
  display: grid;
  grid-template-columns: 50px 1fr;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.name {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

.channelName,
.view {
  font-size: 12px;
  color: #606060;
}

// @media (max-width: 768px) {
//   .just-content {
//     grid-template-columns: 1fr 1fr;
//   }
// }
