.btn-main {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-top: 50px;
  button {
    padding: 8px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    display: flex;     
    flex-shrink: 0;        
    white-space: nowrap;  
   
  }
  button:hover {
    background-color: rgb(0, 0, 0);
    transition: 0.2s;
    color: white;
  }
  
}


.just-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
  padding-top: 20px;
}

.thumnail {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.channel-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.chia {
  display: grid;
  grid-template-columns: 50px 1fr;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.name {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

.channelName,
.view {
  font-size: 12px;
  color: #606060;
}

@media (max-width: 768px) {
  .just-content {
    grid-template-columns: 1fr 1fr;
  }
}
