<div class="another-header-container">
  <div class="left">
    <button class="same" class="pi pi-bars" (click)="onToggle()"></button>
    <button class="btn-youtube" style="width: 150px;" routerLink="">
      <img src="../../../assets/img/icons/youtube-logo.svg" alt="" />
    </button>
  </div>
  <div class="mid">
    <div class="pi pi-search"></div>
    <input class="input" type="text" placeholder="Tìm kiếm trên kênh của bạn"  />
    
  </div>
  <div class="right">
    <button class="same" class="pi pi-question-circle"></button>
    <button class="same" class="pi pi-bell"></button>
    <button class="same" class="pi pi-camera"></button>
    <button class="img">
      <img style=" height: 40px;
    width: 40px;
    border-radius: 100%;
    cursor: pointer;
    border: none;" src="../../../assets/img/channel-picture/unnamed.jpg" alt="" />
    </button>
    
  </div>
</div>
