.sidebar {
  width: 72px;
  background: #ffffff;
  transition: width 0.25s ease;
  overflow: hidden;
  position: sticky;
  top: 56px;

}

.sidebar.expanded {
  width: 240px;
}

.menu {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.item {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 30px 19px 30px 19px;
  background: none;
  border: none;
  color: #000000;
  cursor: pointer;
  border-radius: 8px;
}

.item:hover {
  background: rgba(165, 165, 165, 0.15);
}

.item i {
  font-size: 20px;
}

.item span {
  white-space: nowrap;
}
