<div class="video-container">
    <div class="video-header">
        <app-video-header (toggleSidebarVideo)="toggleSidebarVideo()"></app-video-header>
    </div>
    <div class="video-main">
        <div class="overlay"*ngIf="sidebarExpandedVideo"></div>
        <div class="video-sidebar" > <app-video-sidebar [expandedVideo]="sidebarExpandedVideo"></app-video-sidebar></div>
        <div class="video-content" [class.change] = "sidebarExpandedVideo"><router-outlet></router-outlet></div>
    </div>
</div>
    