/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: roboto;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
   max-width: 100%;
  overflow-x: hidden;   
}
